/* Reset */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* General styling */
Body {
  padding: 0;
  margin: 0;
}

h1,
p {
  padding: 0 15px;
  margin-left: 25px;
}

img {
  width: 10%;
  border-radius: 50%;
  margin: 25px;
}
